{% extends 'template.html' %}
{% load isinstructor %}
{% block content %}
    <h3>Planning</h3>
    <div class="col-md-5">
        <select name="instructors" id="preferredinstructorinput" class="form-control">
            <option value="none">Kies een instructeur</option>
            {% for instructor in instructors %}
                <option value="{{ instructor }}">{{ instructor }}</option>
            {% endfor %}
            <option value="singlewordtoreplace">singlewordtoreplace</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="checkbox" class="form-control" id="toggleshowall" name="showall"> Toon iedereen
    </div>
    <div class="col-md-5">
        <input onkeyup="filterFunctionPlanning()" class="form-control" id="planningsearch"
               placeholder="Search...">
    </div>

    <table class="table table-hover" id="planningtable">
        <thead>
        <tr>
            <th width="100px">Datum</th>
            <th>ResNo</th>
            <th>Start</th>
            <th>Eind</th>
            <th>Relatie</th>
            <th>Aantal</th>
            <th>Artikel</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>
                    {{ booking.datum|date:"d-m-Y" }}
                </td>
                <td>
                    {% if booking.resno %}
                        {{ booking.resno }}
                    {% endif %}
                </td>
                <td>
                    {{ booking.start|date:"H:i" }}
                </td>
                <td>
                    {{ booking.eind|date:"H:i" }}
                </td>
                <td>
                    {% if booking.relatie %}
                        {{ booking.relatie }}
                    {% endif %}
                </td>
                <td>
                    {{ booking.aantal }}
                </td>
                <td>
                    <div class="{{ booking.artikel|isinstructor }}">
                        {{ booking.artikel }}
                    </div>
                </td>
                <td>
                    {% if booking.info %}
                        {{ booking.info }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(function () {
            var preferredInstructor = readPreferredInstructor();
            var showAllInstructors = readShowAllInstructors();
            console.log('bij ophalen: ' + preferredInstructor);
            console.log('bij ophalen2: ' + showAllInstructors);
            if (preferredInstructor === null) {
                preferredInstructor = 'none'
            }
            if (showAllInstructors === null) {
                showAllInstructors = true;
            }
            setSelectValue(preferredInstructor);
            setCheckboxValue(showAllInstructors);
            checkToFilterSelf();
        });

        function readPreferredInstructor() {
            return localStorage.getItem('preferredInstructor');
        }

        function readShowAllInstructors() {
            return localStorage.getItem('showAllInstructors');
        }

        function setCheckboxValue(input) {
            var checkbox = $("#toggleshowall");
            var current = checkbox.prop('checked');
            if (current !== input) {
                checkbox.prop('checked', input);
            }
        }

        function setSelectValue(input) {
            $("#preferredinstructorinput").val(input);
        }

        function checkToFilterSelf() {
            var showAll = $("#toggleshowall").prop('checked');
            if (!showAll) {
                $('#planningsearch').val($("#preferredinstructorinput").val()).keyup();
            }else{
                 $('#planningsearch').val('').keyup();
            }
        }

        $("#preferredinstructorinput")
            .change(function () {
                var input = $("#preferredinstructorinput").val();
                writePreferredInstructor(input);
                checkToFilterSelf();

            });

        $("#toggleshowall")
            .change(function () {
                var input = $("#toggleshowall").prop('checked');
                writeShowAllInstructors(input);
                checkToFilterSelf();
            });

        function writeShowAllInstructors(input) {
            localStorage.setItem('showAllInstructors', input);
        }

        function writePreferredInstructor(input) {
            localStorage.setItem('preferredInstructor', input);
        }

        function filterFunctionPlanning() {
            // Declare variables
            var input, filter, table, tr, i;
            input = document.getElementById("planningsearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("planningtable");
            trs = table.getElementsByTagName("tr");


            // Loop through all table rows, and hide those who don't match the search query
            for (i = 1; i < trs.length; i++) {
                tds = trs[i].getElementsByTagName("td");
                found = false;
                for (i2 = 0; i2 < tds.length; i2++) {
                    td = tds[i2];
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    trs[i].style.display = "";
                } else {
                    trs[i].style.display = "none";
                }
            }


        }
    </script>
{% endblock %}
